<app-reactive></app-reactive>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm10 col-md-8 offset-sm-1 offset-md-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username"
             class="form-control" ngModel name="username"
             required/>
          </div>
          <button class="btn btn-default" type="button"
                  (click)="suggestUsername()">Suggest an username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email"
             class="form-control" ngModel name="email"
             required email #email="ngModel"/>
             <div class="invalid-feedback d-block"
                  *ngIf="email.touched && !email.valid">
              Please enter a valid email!
             </div>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control"
                  [ngModel]="defaultSecretValue"
                  name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher></option>
          </select>
        </div>
        <div class="form-group">
          <label for="answer">Enter your Answer here</label>
          <textarea id="anwer" class="form-control" rows="3"
                    name="answer" [(ngModel)]="answer">
          </textarea>
        </div>
        <p>Answer: {{answer}}</p>
        <div class="form-check form-check-inline"
          *ngFor="let gender of genders">
          <input class="form-check-input" type="radio"
                  id="gender" [value]="gender" ngModel
                  name="gender"/>
          <label for="gender" class="form-check-label">{{gender}}</label>
        </div>
        <div class="form-row">
            <button class="btn btn-primary form-row" type="submit"
            [disabled]="!f.valid">Submit</button>
        </div>      
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="isSubmitted">
    <div class="col-md-10">
      <h3>Your Data</h3>
      <p>Username: {{user.name}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secret Question: {{user.secret.question}}</p>
      <p>Answer: {{user.secret.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div> -->